.signup-section {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("../images/ListingPageImage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-box {
  width: 300px; /* Adjust width as needed */
  background-color: #ffffff; /* Example background color */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Example shadow */
}

.signup-box h2 {
  text-align: center;
  color: #4b0082;
  margin-bottom: 20px;
}

.input-container {
  position: relative;
  margin-bottom: 15px;
}

.input-container i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.input-container input {
  width: calc(100% - 40px); /* Adjust padding and width as needed */
  padding: 10px;
  padding-left: 40px; /* Ensure space for icon */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-btn,
.login-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-btn {
  background-color: #3a943c;
  color: #f4f4f4;
}

.signup-btn:hover {
  background-color: #b8b6b6;
}

.login-btn {
  background-color: #b8b6b6;
  color: rgb(114, 110, 110);
}

.login-btn:hover {
  background-color: #a29c9c;
}
